[Unit]
Description=Update selected date in calendar to current date
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/scheduler -U

[Install]
WantedBy=sleep.target