[Desktop Entry]
Version=1.0.0
Encoding=UTF-8
Name=Scheduler
Comment="Alarms and reminders"
Exec=scheduler %f
Icon=scheduler
Terminal=false
Type=Application
Categories=Utility
StartupNotify=false
MimeType=text/calendar
